:root {
    /* color palette */
    --color-red-500:#f00;
    --color-orange-500:#fd9250;
    --color-white-500:#fff;
    --color-black-500:#000;
    --color-black-600:#29150c;
    --color-gray-300:#F6F6F3;
    --color-gray-400:#dadad8;
    --color-gray-500:#a0a0a0;
    --color-beige-300:#efe7df;
    --color-brown-400:#f2e4c4;
    --color-brown-500:#dcc99c;
    --color-blue-200:#c8d8d8;
    --color-blue-300:#b1bfc4;
    --color-blue-400:#7696a5;
    --color-green-500:#62CE45;
    --color-green-600:#2a5b1e;
    --color-green-700:#050605;
    --color-blue-500:#146cef;

    /* dimensions */
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --font-weight-900: 900;
    --font-size-xxs: 1.2rem;
    --font-size-xs: 1.4rem;
    --font-size-s: 1.6rem;
    --font-size-m: 1.8rem;
    --font-size-l: 2.2rem;
    --font-size-xl: 3.2rem;
    --font-family: system-ui, sans-serif;
}

body {
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-s);
    font-family: var(--font-family);
}
