.dialog {
    background-color: var(--color-blue-400);
}

.dialogContainer {
    flex-direction: column;
    gap: 1rem;
}

.datePickerContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.datePicker {
    border: .1rem solid var(--color-beige-300);
    color: var(--color-beige-300);
    font-weight: var(--font-weight-700);
    font-size: var(--font-size-m);
}

.btnContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.checkbox {
    color:var(--color-beige-300)
}