.text {
    line-break: anywhere;
}

.black {
    color: var(--color-black-600);
}

.bold {
    font-weight: var(--font-weight-700);
}

.green {
    color: var(--color-green-600);
}

.beige {
    color: var(--color-beige-300);
}

.blue {
    color: var(--color-blue-400);
}

.red {
    color: var(--color-red-500);

}

.error {
    color: var(--color-red-500);
    font-size: var(--font-size-xxs);
}

.xxs {
    font-size: var(--font-size-xxs);
}

.s {
    font-size: var(--font-size-s);
}

.m {
    font-size: var(--font-size-m);
}

.l {
    font-size: var(--font-size-l);
}