.text {
    line-break: anywhere;
}

.black {
    color: var(--color-black-500);
}

.bold {
    font-weight: var(--font-weight-700);
}

.green {
    color: var(--color-green-600);
}

.error {
    color: var(--color-red-500);
    font-size: var(--font-size-xxs);
}