.customerCard {
    display: flex;
    justify-content: space-between;
    padding: .6rem 2.4rem;
    border-bottom: .2rem solid var(--color-blue-300);
    background-color: var(--color-beige-300);
}

.popoverContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-blue-300);
}

.infoContainer {
    margin-bottom: 1rem;
}

.phoneLink {
    text-decoration: underline;
}

.mt4 {
    margin-top: .4rem;
}