.customerCard {
    display: flex;
    justify-content: space-between;
    padding: .6rem 2.4rem;
    border-bottom: .2rem solid var(--color-blue-300);
    background-color: var(--color-beige-300);
}

.popoverContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.phoneLink {
    text-decoration: underline;
}