.orderListArchive {
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    min-height: 9.2rem;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    min-width: 10.6rem;
}

.dateContainer {
    display: flex;
    gap: 1rem;
}

.paidBtn {
    margin-left: auto;
}

.chooseBtn {
    border-radius: .8rem;
    text-transform: capitalize;
}

.lineHeight {
    line-height: 1.3;
}