.orderListArchive {
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.btnContainer {
    display: flex;
    gap: 1rem;
}

.btnContainer button {
    width: 100%;
}

.paidBtn {
    margin-left: auto;
}