.orderCard {
    max-width: 50rem;
    overflow: hidden;
    border-radius: 4rem;
    background-color: var(--color-blue-400);
}

.infoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem 2.4rem .4rem;
}

.header {
    padding-top: 1.4rem;
    padding-bottom: 0;
}

.productContainer {
    display: flex;
    justify-content: space-between;
    padding: .6rem 2.4rem;
    border-bottom: .2rem solid var(--color-blue-300);
    background-color: var(--color-beige-300);
}

.productContainer:last-child {
    border-bottom: none;

}

.quantity {
    min-width: 6rem;
    background-color: var(--color-blue-300);
    text-align: center;
}

.priceContainer {
    display: flex;
    justify-content: space-between;
    padding: .6rem 2.4rem 1rem;
    background-color: var(--color-blue-400);
}

.price {
    min-width: 6rem;
    text-align: center;
}

.delivered {
    background-color: var(--color-blue-200);
    color: var(--color-blue-400);
}

.phoneLink {
    text-decoration: underline;
}

.deliveredBorder {
    border-bottom-color: var(--color-blue-200);
}