.orderCard {
    max-width: 50rem;
    border-radius: 1.2rem;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
    padding: .4rem;
    background-color: var(--color-brown-500);
}

.borderRadiusTop {
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
}

.delivered {
    background-color: var(--color-green-600);
}

.productContainer {
    display: flex;
    justify-content: space-between;
    padding: .2rem .4rem;
    border-bottom: .1rem solid var(--color-black-500);
    background-color: var(--color-brown-400);
}

.price {
    margin-right: 1rem;
    padding: 0 .8rem;
    background-color: var(--color-brown-500);
}

.totalPrice {
    display: flex;
    justify-content: space-between;
    padding: .2rem .4rem;
    border-bottom-right-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    background-color: var(--color-brown-500);
}

.phoneLink {
    text-decoration: underline;
}