.orderCard {
    max-width: 50rem;
    border-radius: 1.2rem;
    background-color: var(--color-blue-400);
}

.infoContainer {
    display: flex;
    justify-content: space-between;
    padding: .4rem 1.8rem;
}

.borderRadiusTop {
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
}

.productContainer {
    display: flex;
    justify-content: space-between;
    padding: .6rem 1.8rem;
    border-bottom: .2rem solid var(--color-brown-400);
    background-color: var(--color-beige-300);
}

.quantity {
    min-width: 4rem;
    background-color: var(--color-blue-300);
    text-align: center;
}

.priceContainer {
    display: flex;
    justify-content: space-between;
    padding: .6rem 1.8rem;
    border-bottom-right-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    background-color: var(--color-blue-400);
}

.price {
    min-width: 4rem;
    text-align: center;
}

.delivered {
    background-color: var(--color-blue-200);
    color: var(--color-blue-400);
}

.phoneLink {
    text-decoration: underline;
}