.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
} 

.wrapper {
    display: flex;
    padding-right: 2.4rem;
}

.btnContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.panel {
    padding: 3rem 0;
    border: none;
    background-color: var(--color-blue-400);
}

.productContainer {
    background-color: var(--color-blue-400);
}

.productContainer > div:last-child {
    border-bottom: none;
}

.padding10 {
    padding: 0 2rem;
}