.wrapper {
    display: flex;
    flex-direction: column;
}

.inputWrapper {
    position: relative;
}

.input {
    padding: .6rem;
    width: 100%;
    border: .2rem solid var(--color-green-500);
    border-radius: .4rem;
}

.marginRight {
    padding-right: 4rem;
}

.toggleButton {
    position: absolute;
    top: 50%;
    right: .8rem;
    transform: translateY(-50%);
}