.wrapper {
    display: flex;
    flex-direction: column;
}

.inputWrapper {
    position: relative;
}

.primary {
    padding: .6rem;
    width: 100%;
    border: .2rem solid var(--color-green-600);
    border-radius: .4rem;
}

.secondary {
    padding: .2rem 0 .2rem .4rem;
    border: none;
    background-color: var(--color-blue-300);
    font-weight: var(--font-weight-700);
}

.marginRight {
    padding-right: 4rem;
}

.toggleButton {
    position: absolute;
    top: 50%;
    right: .8rem;
    transform: translateY(-50%);
}

.loaderContainer {
    position: absolute;
    top: 50%;
    right: .6rem;
    width: 1.4rem;
    transform: translateY(-50%); 
}

.loader {
    width: 1.4rem;
    height: 1.4rem;
}