.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
} 

.btnContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.panel {
    padding: 3rem 0;
    border: none;
    background-color: var(--color-brown-500);
}

.productContainer {
    background-color: var(--color-brown-400);
}

.padding10 {
    padding: 0 1rem;
}