.tab {
    padding: 0.4rem 0.8rem;
    width: 100%;
    border: .1rem solid var(--color-blue-400);
    background-color: var(--color-beige-300);
    color: var(--color-black-600);
    font-weight: var(--font-weight-600);
    font-size: var(--font-size-s);
    cursor: pointer;
}

.tab[aria-selected="true"] {
    background-color: var(--color-blue-400);
    color: var(--color-beige-300);
}
