.productRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem 1rem .6rem 2rem;
    border-bottom: .2rem solid var(--color-blue-300);
    background-color: var(--color-beige-300);
}

.quantityControls {
    display: flex;
    align-items: center;
    gap: .6rem;
}

.quantityInput { 
    padding: 0;
    max-width: 6rem;
    text-align: center;
}

.button {
    padding: .4rem;
}