.dialog {
    background-color: var(--color-blue-400);
}

.width {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.input {
    padding: .6rem;
    background-color: var(--color-beige-300);
}

.btnContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}