.productCard {
    display: grid;
    grid-template-columns: 1fr 6rem 14rem;
    align-items: stretch;
    background-color: var(--color-beige-300);
}

.input {
    padding: 0;
    max-width: 6rem;
    text-align: center;
}

.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  appearance: none;
}


.cell {
    display: grid;
    border: .1rem solid var(--color-blue-300);
    text-align: center;
    place-items: center;
}

.controlPanel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .6rem 0;
    border: .1rem solid var(--color-blue-300);
}

.controlPanel button {
    padding: .2rem;
    color: var(--color-blue-300);
    font-weight: var(--font-weight-900);
    font-size: var(--font-size-s);
}

.popover {
    display: flex;
    border: .1rem solid var(--color-blue-300);
}

.popoverBtn {
    padding: .6rem 0 .6rem 2.4rem;
    border: none;
    background-color: transparent;
    text-align: start;
}

.popoverContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}