.wrapper {
    display: flex;
    align-items: center;
    gap: .8rem;
    cursor: pointer;
    width: fit-content;
}
  
.checkbox {
    display: none;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid #ccc;
    border-radius: .4rem;
    transition: all 0.2s;
}
  
.box.checked {
    border-color: var(--color-beige-300);
    background-color: var(--color-beige-300);
    color: var(--color-blue-400);
}
  
.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
  